/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@color_vk_grey:#303030;
@color_vk_blue:#5181B8;
@color_red:#AE393F;
@color_green:#39aea8;
@color_text:#2B476A;
.beforeAfter{
						content: '';
						position: absolute;
						top: 0;
						width: 15px;
						height: 100%;
						background-color:  @color_green;
						border-radius: 7px;
						color: white;
						z-index: -1;
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: local('Montserrat'), url(./font/Montserrat-Regular.ttf) format('opentype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: local('Montserrat'), url(./font/Montserrat-Bold.ttf) format('opentype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: local('Montserrat'), url(./font/Montserrat-SemiBold.ttf) format('opentype');
}
@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	src: local('Montserrat'), url(./font/Montserrat-Medium.ttf) format('opentype');
}
@font-face {
	font-family: 'OpenSans';
	font-weight: 600;
	src: local('OpenSans'), url(./font/OpenSans-SemiBold.ttf) format('opentype');
}
@font-face {
	font-family: 'OpenSans';
	font-weight: 400;
	src: local('OpenSans'), url(./font/OpenSans-Regular.ttf) format('opentype');
}

body{

	color: #2B476A;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;;
	background: #FBFAF5;
	margin: 0 auto;
	width: 1287px;
	padding: 5px 15px;
}

ul{
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

}

.green{
  box-shadow: 0px 0px 8px 0px rgba(57, 174, 168, 0.23);
  animation: shadowBox 1s infinite;
}
@keyframes shadowBox {
  50% {box-shadow: 0px 0px 8px 0px rgba(57, 174, 168, 0.918);}
}
.header{

	font-size: 17px;
	display: flex;
	align-items: center;
	height: 50px;
	margin-top: 24px;
	width: 100%;
	font-weight: 600;
	&__left{
		display: flex;
		align-items: center;
		color: black;	
		z-index: 102;
		& p{
			text-align: left;
		}
		&_round{
			min-width: 39px;
			height: 39px;
			background-color: @color_red;
			border-radius: 50%;
			margin-right: 22px;


		}
	}
	&__navbar{
		font-family: 'OpenSans';
		margin-left: 97px;
		position: relative;
		z-index: 102;
		font-weight: 400;
		color: @color_text;


		&_line{
			opacity: 0;
			position: relative;
			bottom: -3px;
			height: 1px;
			width: 1%;
			margin: 0 auto;
			background-color: @color_green;
		}

	}
	&__right {
		z-index: 102;
		margin-right: 40px;
		background-color:#39AEA9;
		border-radius: 50%;
		min-width: 39px;
		height: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
	}
	&__navbar_menu{
	// 	font-weight: 400;
		position: relative;
		height: 46px;
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

    


		& li{
			position: relative;
			padding: 7px;
		}
		&~li:last-child{
			left: -50px;
		}
		&>li{
			position: relative;
			// margin: 7px 7px;
			padding: 16px 13.5px;
			&::after{
				position: absolute;
				content: '';
				display: block;
				width: 100%;
				height: 30px;
				top: 30px;
			}
			&:hover .header__navbar_menu_sub{
				transition:all 0.9s;
				visibility:visible;
				top: 55px;
			}
			&:hover .header__navbar_line{
				transition: width .9s ease;
				width: 95%;
				opacity: 1;
			}
			&:last-child .header__navbar_menu_sub{
				left: auto;
        right: 0;
			}
			// &:hover:last-child .header__navbar_menu_sub{
			// 	left: -60px;
			// }
		}

		&_sub {
			visibility: hidden;
			position: absolute;
			top: 10px;	
			left: 0;
			z-index: -1;
			text-align: center;
			font-size: 14px;
			font-weight: 600;

			&:first-child{
				padding-top: 11px;
				padding-bottom: 11px;
			}
			& li{
					display: block;
					min-width: max-content;
					font-size: 14px;
					height: 23px;
					display: flex;
					justify-content: center;
					align-items: center;
					&:hover{
						border-radius: 5px;
						background-color: @color_green;
						color: white;
						&::after, &::before{
							.beforeAfter;
						}
						&::before{
							left: -4px;
						}
						&::after{
							right: -4px;
						}
					}
				}
		}
	}
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e9e9e985;
	z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  &_msg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e9e985;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_text{
      background-color: #fff;
      width: 550px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 20px;
    }
    &_close{
      position: relative;
      top: 50px;
      left: 250px;
      padding: 20px;
      cursor: pointer;

      &:hover{
        color: red;
      }
    }
  }

}

main{
	padding: 35px 0;
	display: flex;
}

.neTable{
	text-align: center;
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
	background-color: #fff;
	border-radius: 10px;
	min-height: 779px;
	max-height: 779px;
    min-width: 300px;
	max-width: 300px;
	// overflow-x: hidden;
	transition: 1s ease-in-out;

	& p{
		font-weight: 600;
	}
	&__header{
		text-align: center;
		&_line{
			border-bottom:1px solid #E8E9E9;
		}
		&_head{
			width: max-content;
			margin: 0 auto;

		}
		&_name{
		font-weight: 600;
		margin: 7px 0 9px 0 ;
    min-width: 185px;
		font-size: 20px;
		}
		&_date{
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 18px;
		padding-bottom: 7px;

		text-align: center;
		min-height: 26px;
		display: flex;
		justify-content: space-between;
		}
	}
	&__main{

		// display: flex;
		// flex-direction: column;
		padding: 0 0 0 18px;
		min-height: 566px;
		max-height: 566px;
		overflow-y: scroll;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 10px;
			&-thumb{
				border-radius: 5px;
				background-color: @color_green;
			}
			&-track{
			border-radius: 10px;
		}
		}

	}
	&__row{
		box-sizing: content-box;
		display: flex;
		padding-bottom: 17px;
		align-items: center;
		white-space: nowrap;
		height: 18px;
		position: relative;
		&:first-child{
			margin-top: 28px;
		}

		&:hover{
			.neTable__row_square{
				background-color: @color_red;
				transform: rotateZ(45deg) scale(1.2);
				transition:  .6s ease	;
			}

		} 
		&_square{
			min-width: 10px;
			height: 10px;
			background-color: @color_green;
			border-radius: 2px;
			margin-right: 13px;
			transform: rotateZ(0deg) scale(1);
			transition: transform .6s ease	;
		}

		&_tooltip{
			
				// display: none;
				margin: 61px 0 0 13px;
				padding: .55rem 1rem;
				color: #000;
				border-radius: 10px;
				background-color: #fff;
				box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
				  0 5px 15px rgba(0, 0, 0, 0.07);
				pointer-events: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				border: 1px solid #39aea8;

			 
				
			}
		&_fio{
			cursor: default;
			font-size: 13px;
			font-weight: 500;
		}
	}
	&__total{
		color:#656464;
		font-size: 14px;
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 1px solid #E8E9E9;
	}
	&__zapas{
		min-height: 80px;
		max-height: 80px;
		padding: 0 18px;
		overflow-y: scroll;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 10px;
			&-thumb{
				border-radius: 5px;
				background-color: @color_green;
			}
			&-track{
			border-radius: 10px;
		}
		}

	}
}
.zapas {

		margin-top: 5px!important;

}
.rc-tooltip{
	font-family: 'Montserrat';
	font-size: 1rem;
	margin: 49px 0 0 13px;
	padding: .55rem 1rem;
	color: #2B476A;
	font-weight: 500;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
	  0 5px 15px rgba(0, 0, 0, 0.07);
	border: 1px solid #39aea8;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: max-content;

}
.rc-tooltip-hidden{
	display: none;
}
.rc-tooltip-placement-right{
	margin: 49px 0 0 13px;
	top: -100px
}

.form{
	transition: ease 1s;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	margin-left: 129px;
	margin-top: 95px;
	background-color: white;
	border-radius: 10px;
	min-width: 525px;
	max-height: 519px;
  position: relative;
	display: flex;
	flex-direction: column;
  //  justify-content: center;
   align-items: center;
 	// min-height: 563px;
	 &_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
		margin-bottom: 70px;
		width: 100%;
		position: relative;
    padding: 0 19px;
		margin: 21px 16px 64px;
		& img{
			// position: absolute;
			// top: 21px;

			display: inline-block;
			width: 48px;
			height: 48px;
			// margin:0 20px 0 40px;
		}
    &_vk{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
		}
	 }
	 & p{
		text-align: center;
		margin: 10px 0;
	 }


	 .ALO{
		 color: red;
	 }

   .right{
     right: 19px;
   }
   .left{
     left: 19px;
   }
   .span{
    //  cursor: pointer;
     color: @color_vk_blue;
     margin-top: 5px;
    font-size: 10px;
    font-weight: 600;
    font-family: 'OpenSans';


   }
   .black{
    color: @color_vk_grey;
  }
 .fioPrompt{

	position: absolute;
	opacity: 1;
	font-size: 13px;
	top: 36px;
	left: 0;
	z-index: 10;
	background-color: white;
	width: max-content;
	min-width: 240px;

	& div{
		padding: 7px;
		cursor: pointer;
		&:hover{
			background-color: #e9e9e985;
		}
	}
	}
 
 .loader {
	margin-left: 400px;
	margin-top: 40vh;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	background: linear-gradient(0deg, rgba(51, 122, 183, 0.2) 33%, #337AB7 100%);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;

  &_rocket{
    width: 50px;
    height: 50px;
    top: 45%;
    position: relative;

    &_start{
      width: 50px;
      height: 50px;
      position: fixed;
      top: 50%;
      right: 50%;

    }
  }
 }
 .loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #FFFFFF;
 }
 @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
 } 

 #tournamentAdress{
	 font-size: 17px;
   font-weight: 400;
   font-family: 'OpenSans';
  //  margin: 21px 0 16px;
 }
 #tournamentTell{
	font-size: 14px;
  font-weight: 400;
   font-family: 'OpenSans';
 }
 #tournamentRating{
   margin-top: 18px;
   font-family: 'OpenSans';
   font-size: 18px;
   font-weight: 400;
 }
 .line{
   width: 100%;
   height: 1px;
   background-color: #E8E9E9;
   margin-top: 15px;

 }

 
input{

	width: 240px;
	height: 33px;
	border: 1px solid #535e692a;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.082);
	border-radius: 2px;
	padding-left: 10px;

	&:focus{
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
		transition: 0.4s ease;
		opacity: 1;
	}
}

.buttons{
	margin: 40px 0 0 0;

	& button{
  height: 41px;
  width: 235px;
  display: block;
	margin: 12px 0;
	border-radius: 7px;
	color: white;
	transition: 0.4s ease;
	font-size: 14px;
  font-family: 'OpenSans';
  font-weight: 600;
	}

	&_green{
		background-color: @color_green;

		&:hover{
			background-color:white;
			color: #39AEA9;
			transition:background-color 0.4s ease;
			border: 2px solid #39AEA9;
			}

	}
	&_red{
		background-color: @color_red;

		&:hover{
			background-color:white;
			color: @color_red;
			transition:background-color 0.4s ease;
			border: 2px solid @color_red;
		}
	}


}


li{
	display: inline-block;
	cursor: pointer;

}


.acor-container {
	margin: 19px 0 0 0 ;

}
.acor-container .acor-body {
	width: 100%;
	height: 0;
	transition: color 0.5s, padding 0.5s;
	overflow: hidden;

}
.acor-container .acor-body p {
	margin: 0 0 10px;
}
.acor-container label {
  font-family: 'OpenSans';
    font-weight: 400;
    font-size: 17px;

	padding: 15px 20px;
	margin: 0 0 5px;
	transition: color .55s;
	color: rgb(36, 71, 114)
}
.acor-container label:hover {
	transition: color .55s;

}
.acor-container input{
	display: none;
}



.inputs{
  min-height: 94px;
}

.right:hover{
  animation:spin 1.5s ease infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

a{
	color: black;
	display: block;
	margin-top: 15px;

	&:hover{
		color: @color_green;
	}
}

.placeholder-container{
	position: relative;

	margin-bottom: 14px;

	& label{
		pointer-events: none;
		position: absolute;
		transition: all 300ms;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.25);
		top: 10px;
		left: 10px;

	}
	& input:focus + label, input:not(:placeholder-shown) + label{
		top: -10px;
		left: 10px;
		font-size: 11px; 
		background-color: @color_green;
		padding: 2px 10px;
		color: white;
  
	}
}

