/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
.beforeAfter {
  content: '';
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  background-color: #39aea8;
  border-radius: 7px;
  color: white;
  z-index: -1;
}
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: local('Montserrat'), url(font/Montserrat-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: local('Montserrat'), url(font/Montserrat-Bold.ttf) format('opentype');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  src: local('OpenSans'), url(font/OpenSans-SemiBold.ttf) format('opentype');
}
@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: local('OpenSans'), url(font/OpenSans-Regular.ttf) format('opentype');
}
body {
  color: #2B476A;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background: #FBFAF5;
  margin: 0 auto;
  width: 1000px;
  padding: 5px;
}
ul {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.header {
  font-size: 17px;
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 24px;
  width: 100%;
  font-weight: 600;
}
.header__left {
  display: flex;
  align-items: center;
  color: black;
}
.header__left p {
  text-align: left;
}
.header__left_round {
  min-width: 39px;
  height: 39px;
  background-color: #AE393F;
  border-radius: 50%;
  margin-right: 22px;
}
.header__navbar {
  font-family: 'OpenSans';
  margin-left: 97px;
  position: relative;
  z-index: 2;
  font-weight: 400;
  color: #2B476A;
}
.header__navbar_line {
  opacity: 0;
  position: relative;
  bottom: -3px;
  height: 1px;
  width: 1%;
  margin: 0 auto;
  background-color: #39aea8;
}
.header__right {
  margin-right: 40px;
  background-color: #39AEA9;
  border-radius: 50%;
  min-width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header__navbar_menu {
  position: relative;
  height: 46px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar_menu li {
  position: relative;
  padding: 7px;
}
.header__navbar_menu > li {
  position: relative;
  padding: 16px 13.5px;
}
.header__navbar_menu > li::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  top: 30px;
}
.header__navbar_menu > li:hover .header__navbar_menu_sub {
  transition: all 0.9s;
  visibility: visible;
  top: 55px;
}
.header__navbar_menu > li:hover .header__navbar_line {
  transition: width 0.9s ease;
  width: 95%;
  opacity: 1;
}
.header__navbar_menu_sub {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.header__navbar_menu_sub:first-child {
  padding-top: 11px;
  padding-bottom: 11px;
}
.header__navbar_menu_sub li {
  display: block;
  min-width: max-content;
  font-size: 14px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navbar_menu_sub li:hover {
  border-radius: 5px;
  background-color: #39aea8;
  color: white;
}
.header__navbar_menu_sub li:hover::after,
.header__navbar_menu_sub li:hover::before {
  content: '';
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  background-color: #39aea8;
  border-radius: 7px;
  color: white;
  z-index: -1;
}
.header__navbar_menu_sub li:hover::before {
  left: -4px;
}
.header__navbar_menu_sub li:hover::after {
  right: -4px;
}
main {
  padding: 35px 0;
  display: flex;
  align-items: center;
}
.neTable {
  text-align: center;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
  padding: 2px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 835px;
  max-height: 835px;
  min-width: 300px;
  max-width: 300px;
  overflow-x: hidden;
}
.neTable p {
  font-weight: bold;
}
.neTable__header {
  text-align: center;
}
.neTable__header_name {
  font-weight: bold;
  margin: 10px 0 0 0 ;
  min-height: 30px;
  font-size: 18px;
}
.neTable__header_date {
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E9E9;
  text-align: center;
  min-height: 26px;
  display: flex;
  justify-content: space-around;
}
.neTable__main {
  margin-top: 22px;
  padding: 0 0 0 18px;
  min-height: 611px;
  max-height: 611px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.neTable__main::-webkit-scrollbar {
  width: 10px;
}
.neTable__main::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #39aea8;
}
.neTable__main::-webkit-scrollbar-track {
  border-radius: 10px;
}
.neTable__row {
  display: flex;
  padding-bottom: 17px;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.neTable__row:hover .neTable__row_square {
  transform: scale(1.1);
}
.neTable__row:hover .neTable__row_tooltip {
  top: 10%;
  opacity: 1;
  z-index: 1;
  overflow-x: visible;
  font-size: 13px;
  border: 1px solid #39aea8;
}
.neTable__row_square {
  min-width: 10px;
  height: 10px;
  background-color: #39aea8;
  border-radius: 2px;
  margin-right: 13px;
}
.neTable__row_tooltip {
  position: relative;
  top: 60%;
  left: -5%;
  margin-top: 10px;
  padding: 0.55rem 1rem;
  white-space: nowrap;
  color: #000;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.neTable__row_fio {
  cursor: default;
  font-size: 13px;
}
.neTable__total {
  color: #656464;
  font-size: 14px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E8E9E9;
}
.neTable__zapas {
  min-height: 60px;
  max-height: 60px;
  padding: 0 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.neTable__zapas::-webkit-scrollbar {
  width: 10px;
}
.neTable__zapas::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #39aea8;
}
.neTable__zapas::-webkit-scrollbar-track {
  border-radius: 10px;
}
.form {
  transition: ease 1s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-left: 129px;
  background-color: white;
  border-radius: 10px;
  min-width: 525px;
  max-height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_header {
  min-height: 42px;
  margin: 10px 0 70px 0;
  width: 100%;
  position: relative;
}
.form_header img {
  position: absolute;
  top: 5px;
  right: 14px;
  margin: auto;
  display: inline-block;
  width: 60px;
  height: 60px;
}
p {
  text-align: center;
  margin: 10px 0;
}
input,
button {
  height: 40px;
  width: 236px;
  display: block;
}
.loader {
  margin-left: 400px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(51, 122, 183, 0.2) 33%, #337AB7 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #FFFFFF;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#tournamentAdress {
  font-size: 17px;
}
#tournamentTell {
  font-size: 14px;
}
input {
  width: 240px;
  height: 33px;
  border: 1px solid #535e692a;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.082);
  border-radius: 2px;
  padding-left: 10px;
}
input:focus {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.4s ease;
  opacity: 1;
}
.buttons {
  margin: 40px 0 15px 0;
}
.buttons button {
  margin: 11px 0;
  border-radius: 10px;
  color: white;
  transition: 0.4s ease;
  font-size: 14px;
}
.buttons_green {
  background-color: #39aea8;
}
.buttons_green:hover {
  background-color: white;
  color: #39AEA9;
  transition: background-color 0.4s ease;
  border: 2px solid #39AEA9;
}
.buttons_red {
  background-color: #AE393F;
}
.buttons_red:hover {
  background-color: white;
  color: #AE393F;
  transition: background-color 0.4s ease;
  border: 2px solid #AE393F;
}
li {
  display: inline-block;
  cursor: pointer;
}
.acor-container {
  margin: 20px 0;
}
.acor-container .acor-body {
  width: 100%;
  height: 0;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
}
.acor-container .acor-body p {
  margin: 0 0 10px;
}
.acor-container label {
  cursor: pointer;
  padding: 15px 20px;
  margin: 0 0 5px;
  transition: color 0.55s;
  color: rgba(43, 71, 106, 0.74);
}
.acor-container label:hover {
  transition: color 0.55s;
  color: #244772;
}
.acor-container input {
  display: none;
}
.acor-container label:before {
  content: '\276F';
  float: right;
}
.acor-container input:checked + label:before {
  transition: transform 0.35s;
  transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
  height: auto;
  margin-top: -5px;
  color: #000;
  padding: 15px 20px;
}
a {
  color: black;
  display: block;
  margin-top: 15px;
}
a:hover {
  color: #39aea8;
}
.placeholder-container {
  position: relative;
  margin-bottom: 25px;
}
.placeholder-container label {
  pointer-events: none;
  position: absolute;
  transition: all 300ms;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.25);
  top: 10px;
  left: 10px;
}
.placeholder-container input:focus + label,
.placeholder-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 11px;
  background-color: #39aea8;
  padding: 2px 10px;
  color: white;
}
